<nav class="navbar container navbar-expand-lg bg-success" style="color: white;">
  <div class="container-fluid" >
    <a class="navbar-brand  text-light fw-bolder" routerLink=""><i class="fa-solid fa-utensils"></i>  Tasty Trail</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="color: white;">
        <li class="nav-item" >
          <a class="nav-link active text-light" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light"  routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light"  routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light"  routerLink="/contact">Contact</a>
        </li>
      </ul>
      <div class="dropdown">
          <button class="btn btn-light bg-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">

              <i class="fa-solid fa-user"></i>
              @if(isLoggedIn){
                <span class="text-light fw-bolder">Hi {{loginUsername}}</span>
              }
          </button>
            <ul class="dropdown-menu">
              @if(isLoggedIn){
                <li><a class="dropdown-item" routerLink="/">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/saved-recipes">Saved-Recipes</a></li>
                <li><a class="dropdown-item" (click)="logout()" >Logout</a></li>

              }@else {
                <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                <li><a class="dropdown-item" routerLink="/register">Register</a></li>

              }
             
             
            </ul>
      </div>
    </div>
  </div>
</nav>