<div style="height: 100vh; " class="container d-flex justify-content-center align-items-center flex-column">
    <h1>Login</h1>
    <p>Explore 100+ recipesin your hand...</p>
    <div style="width: 400px;" class="shadow border rounded p-5 mt-5">
        <h3><i class="fa-solid fa-utensils fa-flip"></i>TastyTrail</h3>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3 text-center">
                <input type="email" name="email" formControlName="email" placeholder="Enter your email" class="form-control">
            </div>
            @if (loginForm.get("email")?.errors&& loginForm.get('email')?.touched) {
                <div class="mb-2 text-danger">*invalid username</div>
               }
            <div class="mb-3 text-center">
                <input type="password" name="password" formControlName="password" placeholder="Enter your password" class="form-control">
            </div>
            @if (loginForm.get("password")?.errors&& loginForm.get('password')?.touched) {
                <div class="mb-2 text-danger">*invalid username</div>
               }
            <div class="d-grid">
                <button class="btn btn-success">Login</button>
            </div>
        </form>
    
    </div>
 
</div>