<div class="container-fluid">
  <div class="row">
    <div style="min-height: 100vh;" class="col-lg-3 d-flex flex-column p-3 shadow bg-success text-light">
      <h5 class="text-center">
        <a class="navbar-brand ms-3" routerLink="" style="color: #cbd2a4"><i class="fa-solid fa-utensils me-2"></i> TastyTrails Admin</a>
      </h5>

      <a class="nav-link ms-3 mb-2" routerLink="admin" style="color: #cbd2a4">Dashboard</a>
      <a class="nav-link ms-3 mb-2" routerLink="/admin/recipe/add" style="color: #cbd2a4">Manage Recipe</a>
      <a class="nav-link ms-3 mb-2" routerLink="/admin/all-recipes" style="color: #cbd2a4">Recipe List</a>
      <a class="nav-link ms-3 mb-2" routerLink="/admin/all-request" style="color: #cbd2a4">Requests</a>
      <a class="nav-link ms-3 mb-2" routerLink="/admin/all-downloads" style="color: #cbd2a4">Downloads</a>
      <a class="nav-link ms-3 mb-2" routerLink="/admin/all-users" style="color: #cbd2a4">Users</a>
    </div>
    <div class="col">
      
       <table class="table shadow my-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
  
            <th>Message</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          @for (item of allTestimony; track $index; let i = $index) {
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.message}}</td>
              
              <td>
                @if (item.status=="pending") {
                  <div class="d-flex">
                    <button class="btn btn-success" (click)="updateTestimonyStatus(item._id, 'Approved')">
                      <i class="fa-solid fa-check"></i>
                    </button>
                    <button class="btn btn-danger" (click)="updateTestimonyStatus(item._id, 'Rejected')">
                      <i class="fa-solid fa-delete-left"></i>
                    </button>
                  </div>
                }
                @else if (item.status=="Approved") {
                  <button class="btn btn-success">Approved</button>
                }
                @else{
                  <button class="btn btn-danger">Rejected</button>
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
