.food-img{
    transition: 2s;
}
.food-img:hover{
    scale:1.2;
    transition: 1s ease-in-out;
    rotate: 180deg;
}
h1{
    color:#CBD2A4;
}
.head2{
    color:#8c926a;
}
p{
    color: #9A7E6F;
}
h3{
    color:#A9B57F;
}
h4{
    color:#8A9A64;
}
h5{
    color:#6A7A4C;
}
.btn{
    background-color: #54602F;
    color:#CBD2A4;
}
.btn:hover{
    outline:2px solid #CBD2A4;
    color: #CBD2A4;
}

.img-hover{
    border-radius: 10%;
  
}
.img-hover:hover{
    border-radius: 20%;
    transition: .3s ease-in-out;
}